/*
    Creates a flex container 
    Default is center as a flex row - can be changed with arguments
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background: url('../../imgs/ireland.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  font-size: 1.6rem;
}
a {
  font-size: 1.6rem;
  text-decoration: none;
  color: black;
}
.background {
  margin: 3% 10%;
  padding: 3%;
  background: rgba(27, 31, 34, 0.85);
  color: #FFFFFF;
  border-radius: 1%;
}
nav {
  margin: 1% 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.on {
  font-weight: bolder;
  font-size: 1.9rem;
}
.background,
.home {
  margin: 3% 10%;
  padding: 3%;
  background: rgba(27, 31, 34, 0.85);
  color: #FFFFFF;
  border-radius: 1%;
  text-align: center;
}
.background img,
.home img {
  border-radius: 50%;
  width: 25%;
  padding: 1%;
  margin: 1.5%;
}
.background .homeTitle,
.home .homeTitle {
  font-family: cursive;
}
.background p,
.home p {
  margin: 3%;
  font-family: 'Rowdies', cursive;
  letter-spacing: 2px;
  font-size: 1.75rem;
}
.background p,
.port p {
  font-family: sans-serif;
}
.background .projects,
.port .projects {
  display: flex;
  align-items: center;
  justify-content: center;
}
.background .projects .medCab,
.port .projects .medCab {
  border-radius: 1%;
  margin: 3% 1%;
  width: 50%;
}
.background .projects .medCab img,
.port .projects .medCab img {
  border-radius: 70%;
  width: 70%;
  opacity: 90%;
}
.background .projects .medCab p,
.port .projects .medCab p {
  color: #ffffff;
  line-height: 150%;
  text-align: center;
}
.background .skillTitle,
.about .skillTitle {
  margin: 2% 0;
  padding: 2%;
  border-top: 1px lightgrey dashed;
}
.background .aboutP,
.about .aboutP {
  text-align: justify;
  margin: 5%;
}
.background .skills,
.about .skills {
  display: flex;
  justify-content: space-evenly;
}
.background .skills li,
.about .skills li {
  width: 100%;
  font-size: 1.75rem;
  line-height: 45px;
}
.background .skills li img,
.about .skills li img {
  border-radius: 0;
  width: 15%;
}
.background .skills .front,
.about .skills .front {
  width: 33%;
}
.background .skills .front > ul,
.about .skills .front > ul,
.background .skills .back > ul,
.about .skills .back > ul,
.background .skills .test > ul,
.about .skills .test > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.background .skills .front > ul li,
.about .skills .front > ul li,
.background .skills .back > ul li,
.about .skills .back > ul li,
.background .skills .test > ul li,
.about .skills .test > ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
