#about{
    padding-top: 5%;
    color: white;
    background: black;

    .card{
        background:black;
        img{
            border-radius: 50%;
            width: 25%;
        }

        .aboutP{
            width: 50%;
            margin: 1% 25%;
            line-height: 150%;
            font-size: 1.75rem;
        }
    }//end .card
    
}//end #about