#about{
    padding-top: 10%;
    color: white;
    background: black;

    .card{
        background:black;
        img{
            border-radius: 50%;
            width: 25%;
        }

        .aboutP{
            width: 50%;
            margin: 1% 25%;
            line-height: 150%;
            font-size: 1.75rem;
        }
    }//end .card

     a .btn, .btn-secondary {
        font-size: 2rem;
        background: black;
        border: none;
        color: rgba(255,255,255,.5)

    }
}//end #about