.background, .about{
    .skillTitle{
        margin: 2% 0;
        padding: 2%;
        border-top: 1px lightgrey dashed;
    }

    .aboutP{
        text-align: justify;
        margin: 5%;
    }

    .skills{
        display: flex;
        justify-content: space-evenly;

        li{
            width: 100%;
            font-size: 1.75rem;
            line-height: 45px;
            img{
                border-radius: 0;
                width: 15%;
            }
        }

        .front{
            width: 33%;
        }

        .front > ul, .back > ul, .test > ul{
            display: flex;
            flex-direction: column;
            justify-content: center;

            li{
                display: flex;
                justify-content: center;
                align-items: center;

            }
        }
    }
}