*{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background: url('../../imgs/ireland.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

html, body{
    font-family: @text-font;
    text-align: center;    
}

h1 {
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2.5rem;
}

p{
    font-size: 1.6rem;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
}

.background{
    margin: 3% 10%;
    padding: 3%;
    background: rgba(27, 31, 34, 0.85);
    color: #FFFFFF;
    border-radius: 1%;

    @media @med-phone{
        height: 1000px;
    }

    @media @phone{
        height: 1900px;
    }
}