//navigation bar styles#
#nav{
    position: fixed;
    width: 100%;
    .navbar{
        .navbar-nav{
            .flex(@justify: space-evenly);
            flex-direction: row;
            .nav-item{
                margin-left: 15%;
            }
        }//end of .navbar-nav
    }//end of #navbar

   #switch-dark, #switch-light{
    display: inline-block;
    width: 45px;
    height: 25px;
    border: none;
    border-radius: 19px;
    z-index: 99;
    box-shadow: 0 10px 28px rgba(0, 0, 0, 1);
    cursor: pointer;
   }//end #switch

   #switch-dark{
    background: #F8F8F9;
   }// end #switch-dark

   #switch-light{
    background: #000;
   }//end #switch-light

   .circleLeft,.circleRight{
    position: absolute;
    cursor: pointer;
    height: 20px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background: white;
    transition: 0.5s;
    border-radius: 100%;
   }// end .circleLeft, .circleRight

}//end #nav