//colors 

//color assignments

//font assignments 
@text-font: 'Roboto', sans-serif;

//media queries 
@tablet: ~"(max-width: 1100px)";
@small-tablet: ~"(max-width: 825px)";
@large-phone: ~"(max-width: 560px)";
@med-phone: ~"(max-width: 520px)";
@phone: ~"(max-width: 390px)";
@iphone5: ~"(max-width: 320px)";